
name: My WorkFlow

on:
  push:
    branches: [ "main" ]

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Welcome Message
      run: echo "My first GitHub Action"
      
    - name: List Files
      run: ls
      
    - name: Read Files
      run: cat README.md  

  